include README.md
include LICENSE

include ez_setup.py
include ah_bootstrap.py
include setup.cfg

recursive-include superfreq *.pyx *.c *.h
recursive-include cextern *
recursive-include docs *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

recursive-include astropy_helpers *
exclude astropy_helpers/.git
exclude astropy_helpers/.gitignore
exclude test-data

global-exclude *.pyc *.o
